    body {
        font-family: "PT Serif", serif;   /* font download form google */
        font-weight: 400;
        font-style: italic;
        margin: 0px;
         }
                       
         
         /* All body Font for Home page */




    section {height: 500px;
            
    }

    .top-banner {
        background-repeat: no-repeat;
        background-image: url(image/banner.png)
        
    }


    h1 {
    font-size: 50px;
        }

.name-highlight {
    color: orange;

    }

    .half-space {
        width: 40%;
        float: left;
        margin-left: 5%;
        padding-left: 5%;
    }

    .half-space img {
        width: 80%;
    }

    .link-button {
        text-decoration: none;
        background-image: linear-gradient(30deg,yellow,red);
        background-color: orange;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
    }
